body {
    background-color: #010101;
    color: #fefefe;
}
.gridImageCon {
    flex-basis: 33%;
    flex-grow: 1;
    min-width: 400px;
    height: 300px;
    z-index: 0;
}
.gridImage {
    object-fit:cover;
    width:100%;
    height:inherit;
    object-position:center;
    transition: all ease 0.2s;
}
.gridThumb {
    object-fit:cover;
    object-position:center;
    position:relative;
    height: 100px;
    width: 100px;
    top: -100px;
    z-index: 1;
}
.gridImage {
    object-fit:cover;
    width:100%;
    height:inherit;
    object-position:center;
}
.gridImage:hover {
    transform: scale(0.75); 
}